

h1 {
	color: #505050;
	font: Sans-Serif;
	font-family: century, trebuchet, Helvetica, sans-serif;
}

body{
	
	background-color: #FFFFFC;
}

div.Content {
	color: #505050;
	font-size: 200%;
	list-style-type: none;
	font: Sans-Serif;
	font-family: century, trebuchet, Helvetica, sans-serif;
}



div.BottomBox{
	color: #505050;
	list-style-type: none;
    font-family: century, trebuchet, Helvetica, sans-serif;
}
